<app-navbar></app-navbar>
<div *ngIf="!ready">
    <div class="cart-list">
        <div *ngFor="let product of products">
            <div class="card">
                <div class="info">
                    <img src="assets/images/item{{product.productId}}.jpg" style="width: 90px; height: 90px; padding:10%;">
                    <p style="padding-left: 10px; width: 50%;">
                        {{product.productName}} <br>
                        {{product.description}} <br>
                        {{product.price}}
                    </p>
                </div>
                <div class="quantity">
                    <p> Quantity: 
                        <button (click)="updateQuantity(product.productId, product.quantity-1)">-</button>
                        {{product.quantity}}
                        <button (click)="updateQuantity(product.productId, product.quantity+1)">+</button>
                    </p><br>
                    <p> ${{product.subTotal}} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout">
        <p> Total: ${{totalNum}} </p>
        <button (click)="ready=true; clearCart();" style="max-height: 20px;">Complete Purchase</button>
    </div>
</div>
<div *ngIf="ready" class="complete">
    <p> Order Completed </p>
</div>
